<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.didi.crowd.mapper.TCertMapper">

    <select id="queryCertsByAccttype" resultMap="queryCertsByAccttypeResultMap">
        SELECT
           c.*
        FROM
	        t_cert c
	    INNER JOIN t_account_type_cert a ON a.certid = c.id
	    WHERE a.accttype = #{accttype}
	    ORDER BY c.id
    </select>
    <resultMap id="queryCertsByAccttypeResultMap" type="com.didi.crowd.entrty.PO.TCert">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
    </resultMap>

</mapper>
