<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.didi.crowd.mapper.TTagMapper">

    <insert id="insertTagRelationship">
        insert into `t_project_tag`(`projectid`,`tagid`) values
        <foreach collection="tagIdList" item="tagId" separator=",">
        (#{projectId},#{tagId})
        </foreach>
    </insert>

<!--    <insert id="insertTag">-->
<!--        insert into `t_tag` (`pid`,`name`) values-->
<!--        <foreach collection="tagIdList" item="tagName" separator=",">-->
<!--            (#{projectId},#{tagName})-->
<!--        </foreach>-->
<!--    </insert>-->
</mapper>
